/* common styles */

* {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

p {
    color: #534C64;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-bottom: 17px;
}

/* nav style */
.nav-cont {
    display: flex;
    justify-content: space-between;
    height: 130px;
    align-items: center;
    margin: 38px 240px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    padding: 20px;
    width: 100px;
    object-fit: cover;
}

.nav-logo h2 {
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-compo ul {
    display: flex;
    align-items: center;
    padding-left: 36px;
}

.nav-compo ul li {
    list-style: none;
    padding-left: 32px;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.nav-compo ul li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}

.nav-btns {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 14px;
}

/* banner styles */

/* goat section */
.goat-cont {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    /* width: 1350px; */
    height: 500px;
    align-items: center;
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    padding-left: 240px;
    padding-right: 240px;
    background-color: #fff;
    border: 1px solid red;
}

.goat-desc {
    width: 50%;
    align-items: center;
}

.goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.9rem;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.goat-img {
    width: 40%;
    /* border: 1px solid black; */
    margin-left: 66px;
}

.goat-img img {
    width: 500px;
}

.goat-btn1 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #FF42A5;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
}

.goat-btn2{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
color: #FFF;
font-size: 1.25rem;
font-weight: 600;
text-transform: uppercase;
border: none;
margin-left: 14px;
}




/* responsive */

/* mobile  */

@media screen and (max-width:576px) {

    .nav-cont {
        flex-direction: column;
        margin: 38px 2px
    }

    .nav-compo ul {
        flex-direction: column;
        justify-content: center;
    }

    .nav-compo ul li {
        margin-top: 36px;

    }

    .goat-cont{
        flex-direction: column;
    }
    .goat-img{
        width: 100%;
    }
}