/* common styles */

* {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

p {
    color: #534C64;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
    margin-top: 8px;
}

h1 {

    font-size: 5.9rem;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* nav style */
.nav-cont {
    display: flex;
    justify-content: space-between;
    height: 130px;
    align-items: center;
    margin: 38px 240px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    padding: 20px;
    width: 100px;
    object-fit: cover;
}

.nav-logo h2 {
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-compo ul {
    display: flex;
    align-items: center;
    padding-left: 36px;
}

.nav-compo ul li {
    list-style: none;
    padding-left: 32px;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.nav-compo ul li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}

.nav-btns {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 14px;
}


@media screen and (max-width:576px) {

    .nav-cont {
        flex-direction: column;
        margin: 0 2px 150px;
    }

    .nav-compo ul {
        flex-direction: column;
        justify-content: center;
    }

    .nav-compo ul li {
        margin-top: 36px;
    }

    h1{
        font-size: 3rem;
    }
}



/* banner styles */

/* goat section */
.goat-cont {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    height: 500px;
    margin-right: 200px;
    background-color: #fff;
    /* border: 2px solid blue; */
}

    
.goat-desc {
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 50%; */
    /* align-items: center; */
    /* padding-left: 200px; */
    padding: 20px 0 20px 200px;
}

.goat-desc h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.goat-img {
    width: 40%;
    margin-left: 66px;
}

.goat-img img {
    width: 500px;
    padding-bottom: 0;
    display: flex;
    position: absolute;
    top: 232px;
    bottom: 0;
}

.goat-btn1 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #FF42A5;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
}

.goat-btn2 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-left: 14px;
}


@media screen and (max-width:576px) {
    .goat-cont {
        padding-right: 0;
        height: 900px;
        flex-direction: column-reverse;
        /* align-items: center; */
        /* justify-items: center; */
        margin: 0 auto;
    }
    .goat-img{
        width: 100%;
        margin-bottom: 100px;
    }

    .goat-desc {
        width: 100%;
        margin-bottom: 30px;
            padding: 20px 10px;
    }
}

/* funny vdo cont */

.funny-vdo-cont {
    text-align: center;
    margin: 120px 240px;
}

.funny-vdo {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.funny-vdo-desc {
    margin-bottom: 48px;
}

.funny-vdo-img {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 23%;
    text-align: justify;
    position: relative;
    transition: all .5s ease-in-out;
}

.card img {
    width: 100%;
    /* height: 400px; */
    /* flex-shrink: 0; */
}

.watch-btn{
    position: absolute;
    left: 70px;
    top: 100px;
    display: none;
    background: none;
    border: none;
    color: #FF42A5;
    
}

.card:hover .watch-btn{
    display: block;
}

.card:hover img {
    opacity: 0.6;
}

@media screen and (max-width:576px) {
    .funny-vdo-cont{
        flex-direction: column;
        margin: 0;
    }
    .funny-vdo-img{
        flex-direction: column;
        justify-content: center;
    }
    .card{
        width: 80%;
        padding-left:100px ;
    }
    .watch-btn{
        left: 210px;
        top: 150px;
    }
}

/* .card:hover .watch-btn{
    display: block;
} */


/* play instant */

.play-instant {
    display: flex;
    margin-left: 300px;
    margin-right: 240px;
    /* height: 500px; */
    align-items: center;

    /* border: 1px solid purple; */
}

.play-inst-desc {
    width: 426;
    padding-right: 50px;
    text-align: right;
}

.play {

    background: linear-gradient(180deg, #F948B2 100%, #8758F1 0%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-inst-img {
    padding-top: 100px;
    height: 600px;
    /* border:1px solid #0B0223; */
}

.play-img1 {
    padding-left: 50px;
    width: 400px;
}

.play-img2 {
    width: 200px;
    position: relative;
    bottom: 180px;
}

.play-instant2 {
    height: 500px;
    display: flex;
    margin: 0 200px;
    /* height: 500px; */
    align-items: center;
    /* border: 1px solid lawngreen; */
}

.play-inst-desc2 {
    text-align: left;
    padding-left: 113px;
}


.play-img3 {
    padding-right: 50px;
    width: 400px;
}

.play-img4 {
    width: 200px;
    position: relative;
    bottom: 180px;
    left: 200px;
}

@media screen and (max-width:576px) {
    .play-instant2{
        flex-direction: column-reverse;
        margin-top: 500px;
    }
}

/* buttons styles */
.buttons {
    margin-top: 50px;
    margin: 120px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.btn {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 20px;
    border-radius: 50px;
    background: #FFF;
    padding-right: 20px;
    border: none;

    color: #0B0223;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn img {
    width: 60px;
    border-radius: 50%;
    margin: 10px;
}

.btn:hover {
    border: 1px solid #FF42A5;
    color: #FF42A5;
    cursor: pointer;
}

@media screen and (max-width:576px) {
    .buttons{
        margin: auto;
        padding-bottom: 100px;
    }
    .btn{
        width: 30%;
        font-size: 0.6rem;
        justify-content: start;
        padding: 5px;
        height: auto;
    }
    .btn img{
        width: 30px;
        margin: 5px;
    }
}

/* footer */
.footer {
    display: block;
    text-align: center;
    background: #0B0223;
    padding-bottom: 120px;
    padding-top: 120px;
}

.footer .footer-logo {
    display: flex;
    justify-content: center;
    color: white;
}

.footer-menus {
    display: flex;
    justify-content: space-evenly;
    margin: 56px 300px;
}

.footer-menus a {

    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.footer-icon button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.footer-icon,
.terms-part {
    display: flex;
    justify-content: space-around;
    margin: 56px 300px;

}

.terms-part a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin: 10px;
}

.small {
    /* margin-bottom: 150px; */
}

small {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media screen and (max-width:576px) {
    .footer-menus{
        margin: 50px;
        flex-wrap: wrap;
    }
    .footer-menus a{
        padding: 20px;
    }
    .footer-icon button{
        margin: 20px;
    }
    .footer-icon{
        margin: 80px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .terms-part{
        margin: 30px;
        flex-wrap: wrap;
    }
}

/* responsive */

/* mobile  */

@media screen and (max-width:576px) {



    .goat-cont,
    .play-instant {
        flex-direction: column;
        margin: 0;
    }


    .goat-img img {
        width: 300px;
        top: 360px;
    }

}